#textbox {
    width: 300px;
    height: 150px
}

#root {
    width: 800px;
    margin: 0 auto;
}

.registers {

}

.registers input {
    width: 50px;
}
.instructions {
    border: 5px brown solid;

}

input[type=text]{
    width: 75px;
    text-align: center;
}