#textbox {
    width: 300px;
    height: 150px
}

#root {
    /*width: 800px;*/
}

.registers {

}
.styling-left{
margin-left: 10px;
}
.registers input {
    width: 50px;
}
.instructions {
    border: 5px brown solid;

}